h1= title
form(method="POST" 
    action="/category/submit") 
 p
    p 
    label Name
    br
    input(type="text"
        name="name"
        id="name"
        size="20")
    p 
    label Description
    br
    input(type="text"
        name="description" 
        id="description"
        size="25")           
    br
    input(type="submit"
        name="submit" 
        id="submit"
        value="Submit")