h1= title
form(method="POST" 
    action="/category/update") 
 p
   p
   input(type="hidden"
        name="id"
        id="id"
        value='#{category.ID}')
   p
   label Name
   br
   input(type="text"
        name="name"
        id="name"
        value='#{category.Name}'
        size="20")
   p 
   label Description
   br
   input(type="text"
        name="description" 
        id="description"
        value='#{category.Description}'
        size="25")           
   br    
   input(type="submit"
        name="submit" 
        id="submit"
        value="Submit")        